@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

span {
  font-family: Open Sans;
}

#main-header {
  margin-top: 50px;
  font-family: Anton;
}
